body,
html {
    margin: 20px;
    background-color: rgb(51, 51, 58);
}

* {
    box-sizing: border-box;
}

#gameName {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 90px;
    letter-spacing:10px;
    font-weight: 600;
}

.btn {
    margin: 0 auto;
    margin-top: 50px;
    width: 400px;
    height: 80px;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding-top: 18px;
    letter-spacing:8px;
}

.simple {
    background-color: green;
}

.middle {
    background-color: orange
}

.hard {
    background-color: brown;
}

.btn:hover{
    font-size: 35px;
    padding-top: 15px;
    cursor:pointer;

}

#small{
    margin: 0 auto;
}

.gezi{
    background-color: #67b16b; 
    color: rgb(0, 0, 0);
    width:28px;
    height:28px;
    text-align: center;
    font-size: 18px;
    border:none;
    padding: 0px;
    margin: 1px;
}

.beclick{
    background-color: #c0d2af;
}

#title{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    width: 360px;
    margin-bottom: 30px;
    padding-bottom: 1px;
}

.gezi:hover{
    cursor:pointer;
    background-color: #c0d2af;
    
}

.page{
    text-align: center;
    margin: 0 auto;
    color: rgb(172, 172, 172);
    width: 20%;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}

.timeRecord{
    text-align: center;
    margin: 0 auto;
    color: rgb(172, 172, 172);
    width: 20%;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}


.fa-flag{
    width: 60px;
    color: red;
    font-size: 200%;
    float:left;
}

.gezi.fa-flag {
    padding-top:5px;
    width: 28px;
    background-color: #c0d2af;

}

.fa-bomb{
    width:28px;
    padding-top: 5px;
}

.flagNum{
    padding-top: 3px;
    color: aliceblue;
    font-size: 20px;
    float:left;
}

.fa-clock-o{
    width: 60px;
    color: orange;
    font-size: 200%;
    float:right;
}

.time{
    padding-top: 3px;
    color: aliceblue;
    font-size: 20px;
    float:right;
}
